//Colors
$color-lightblue: rgba(111, 179, 190, 0.51);
$color-darker-light-blue: #6FB3BE;
$color-white: #FCFCFC;

//Font-families
$ff-open-sans: "Open Sans";
$ff-inter: "Inter";

//Font sizes
$fs-pq: .8em;
$fs-sm:.5em;
$fs-md:2.5em;

//Font weight
$fw-light: 300;
$fw-reg: 400;
$fw-bold: 700;