@use 'vars';
@font-face {
    font-family: "Cubano";
    src: url(./fonts/Cubano-Regular.otf);
    font-display: swap;
}

header{
position: relative;
top: 0;
left: 0;
width: 100%;
padding: 30px 100px;
justify-content: space-between;
align-items: center;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

header ul li{
    list-style: none;
}

// header ul li a{
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 400;
//     font-size: 24px;
//     line-height: 28px;
//     text-decoration: none;
//     margin-left: 2em;
//     margin-right: 2em;
//     color: vars.$color-white;
// }

%header-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    margin-left: 2em;
    margin-right: 2em;
}

.whiteheader ul li a{
    @extend %header-text;
    color: vars.$color-white;
}

.blackheader ul li a{
    @extend %header-text;
    color: black;
}

header ul li a:hover{
    color: vars.$color-darker-light-blue;
}

%background{
    position: relative;
    //width: auto;
    //height: 100%;
    width: 100%;
    height: 100vh;
    padding-bottom: 5%;
    left: 0px;
    top: 0px;
}

.herobackground{
    @extend %background;
    background: vars.$color-lightblue;
}

.productsbackground{
    @extend %background;
    background: vars.$color-lightpurple;
}

.storybackground{
    @extend %background;
    background: vars.$color-lightyellow;
}

.mid-background{
    position: relative;
    width: 100%;
    height: auto;
    padding: 10%;
}

.logo-blu{
    //position: absolute;
    
    width: 134.01px;
    height: auto;
    margin-right: 2em;
    margin-left: 2em;
}

.whitelogo{
    display:show;
}

// .blacklogo{
//     display:show;
// }


/*

.botella-vidrio{
    position: absolute;
    //width: 495px;
    //height: 661px;
    z-index: 1;
    //right: 315px;
}

.hero-text{
    font-family: 'Cubano';
    font-style: normal;
    font-weight: 400;
    font-size: 222.297px;
    line-height: 267px;
    color: vars.$color-darker-light-blue;

    position: absolute;
    text-align: center;

    line-height: 0.9;
}

*/

//img instead of text because safari doesn't support local fonts
.hero-items{
    position: relative;
    padding-left: 18%;
    padding-right: 18%;
}
