@font-face {
    font-family: 'Cubano';
    src: url('../public/assets/fonts/Cubano-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Montserrat';
    src: url('../public/assets/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../public/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  